# Logs, change if you need another log level
log-backend: console
log-level: info

# Database connection parameters, if you change it, remember change it on .env file too
# Remember that this files doesn't admit environment variables
mysql-hostname: guacamole-db
mysql-port: 3306
# You have to use the generate-guac-properties.sh
mysql-database: ${MYSQL_DATABASE}
mysql-username: ${MYSQL_USER}
mysql-password: ${MYSQL_PASSWORD}